body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}
.header {
    background-color: #2f2f31; 
    color: #faf1f1;
    height: 1cm; 
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.container {
    display: flex;
    height: 100%;
}
.sidebar {
    width: 20%;
    background-color: #cfcece;
    padding: 10px;
    color: rgb(14, 13, 13);
    overflow-y: auto;
}
.sidebar h2 {
    font-size: 24px;
}
.sidebar h3 {
    font-size: 20px;
}
.input-field {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
}
.green-button {
    background-color: #4CAF50;
    width: 100%;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
.content {
    width: 100%;
    padding: 20px;
}
.map {
    width: 100%;
    max-width: 100%;
    height: 60%;
}
.property-info {
    font-family: Arial, sans-serif;
    font-style: normal;
    color: rgb(14, 13, 13);;
    font-size: 15px;
    margin-top: 20px;
}
.property-info h2 {
    font-family: Arial, sans-serif;
    font-style: normal;
    color: #4CAF50;
    font-size: 25px;
}
